<p class="extra">The Wedding of</p>
<p class="name">Keeley Camille Duffey</p>
<p class="extra">&amp;</p>
<p class="name">John Thomas Jobe</p>

<img class="main-pic" src="images/out_west.JPG"></img>
<h1 class="no-margin">La Grande Visione</h1>
<h2>The Grand Vision</h2>
<p>We are so excited to share our marriage with each and every one of you. We know that this trip is a commitment and we would be truly honored by your presence. There's nothing that would make us happier than sharing this special day with our families.</p>
<p>We will continue to update this website with helpful information as time goes by to serve as a guide for this wedding adventure.</p>

<h1>La Casa</h1>
<h2>The House</h2>
<p>A villa with private rooms for everyone, available Thursday evening to Monday morning. The villa can be viewed at the link below:</p>
<p>
  <a href="https://www.airbnb.com/rooms/17821397?s=51" target="_blank">
    <p>Link to the Villa</p>
  </a>
</p>
<p>MORE DETAILS COMING SOON</p>

<h1>Il Programma</h1>
<h2>The Schedule</h2>
<p>We are planning a welcome dinner for Friday night and the wedding and reception will be on Saturday. Other optional activities will be shared soon.</p>
<p>MORE DETAILS COMING SOON</p>

<h1>L'area</h1>
<h2>The Area</h2>
<p>The villa is in the countryside between the towns of Vicchio and Borgo San Lorenzo in northeast Tuscany. Vicchio's small downtown features local restaurants and shops and there are a variety of attractions in the area.</p>
<p>The town of Vicchio is the birthplace of Giotto, the famous 14th century painter and architect. Among his numerous works are the bell tower of the Duomo in Florence, the frescoes of the Scrovegni Chapel in Padua, the Basilica inferiore in Assisi, the Bardi and Peruzzi Chapels in Florence.</p>
<p>Within an hour, there are vineyards, a golf course and a famous Formula 1 race track. More information about regional attractions coming soon.</p>

<h1>Trasporti</h1>
<h2>Transportation</h2>
<h3>Step 1: Getting to Florence</h3>
<p>Vicchio is 40 KM northeast of Florence, so getting to Florence is step one.</p>
<p>You can fly directly into Florence, but may find better fares into other places such as Rome, Venice or Milan. All three of those locations are only about 2 hours from Florence by train.</p>
<p>Unlike in the US, trains are fast, affordable and easy to use in Italy. We won't list all the information about trains here (a little is below), just know that wherever you can find the best flight, it's probably just an easy train ride away from Florence.</p>
<p><b>When you book your flight, let us know where you are arriving and we can give you more detailed advice on buying train tickets.</b></p>
<p>There are pass options that will give you more flexibility to travel before or after the wedding as well as single ticket options.</p>

<h3>Example Train Fares</h3>
<p>From Rome or Venice to Florence via EuroRail / ItaliaRail</p>
<p>$37-55 USD PP</p>
<p><a href="https://www.italiarail.com/">Italia Rail</a></p>


<p>Roma to Florence via TrenItalia</p>
<p>$25-47 USD PP (1h 31m)</p>
<p><a href="http://www.trenitalia.com/tcom-en">Tren Italia</a></p>

<p>Venice to Florence via TrenItalia</p>
<p>$25-47 USD PP (1h 53m)</p>

<p>Florence to Viccho</p>
<p>$7 USD PP (1h)</p>

<h3>Helpful Links</h3>
<p><a href="https://www.seat61.com/Italy-trains.htm">Seat61</a></p>
<p><a href="https://www.italylogue.com/train#buying">Italylogue</a></p>

<h3>Helpful Italian Translations</h3>
<p>Roma (Rome)</p>
<p>Firenze (Florence)</p>
<p>Venezia (Venice)</p>
<p>Napop (Naples)</p>
<p>Milano (Milan)</p>
<p>Torino (Turin)</p>
<p>Genova (Genoa)</p>
<p>Tutte le stazioni (All the stations)</p>

<br>
<h3>Step 2: Getting to Vicchio</h3>
<p>Once you make it to Florence, you have two options. You can rent a car and drive the last hour, or you can take the local train.</p>
<p>The villa is 15 mins from the train station so a cab or someone in the group with a car can pick you up. Taking the train from Florence is probably the right option for some, but we also need a few cars in the group so we can explore and get around easily.</p>
<p>The two of us will be in the area early and will have a rental car of our own.</p>

<h3>Notes for those Renting a Car</h3>
<p>1) Get your IDP (International Driving Permit). You will need to fill out an application, pay $20 and provide two passport sized photos.<br><a href="https://northeast.aaa.com/travel/plan-your-trip/international-driving-permit.html">Link to online IDP application</a></p>
<p>2) Reserve your car in advance for a better price. Most rentals are MANUAL, so especially rent far in advance and be prepared to pay slightly extra for an automatic.</p>
<p>3) Get the insurance!</p>
<p>4) Read some articles about driving in Italy in general. For example, the left lane is for passing ONLY and this is strictly adhered to in Italy (Keeley says I love to sit in the left lane...)</p>
<p>5) If you are feeling adventurous and get a car for more than just the local Vicchio area have fun but do NOT drive in Rome. Apparently it's insane. The country roads of Tuscany will be much more manageable.</p>

<p><b>Helpful Links</b></p>
<p><a href="https://www.italylogue.com/featured-articles/driving-in-italy.html#license">Italylogue - Driving in Italy</a></p>
<p><a href="https://www.walksofitaly.com/blog/travel-tips/drive-in-italy">Walks of Italy - Driving Tips </a></p>
