<p class="extra">The Wedding of</p>
<p class="name">Keeley Camille Duffey</p>
<p class="extra">&amp;</p>
<p class="name">John Thomas Jobe</p>

<img class="main-pic" src="images/out_west.JPG"></img>
<h1 class="no-margin">La Grande Visione</h1>
<h2>The Grand Vision</h2>
<p>We are so excited to share our marriage with each and every one of you. We know that this trip is a commitment and we would be truly honored by your presence. There's nothing that would make us happier than sharing this special day with our families.</p>
<p>We will continue to update this website with helpful information as time goes by to serve as a guide for this wedding adventure.</p>

<h1>La Casa</h1>
<h2>The House</h2>
<p>A villa with private rooms for everyone, available Thursday evening to Monday morning. The villa can be viewed at the link below:</p>
<p>
  <a href="https://www.airbnb.com/rooms/17821397?s=51" target="_blank">
    <p>Link to the Villa</p>
  </a>
</p>
<p>MORE DETAILS COMING SOON</p>

<h1>Il Programma</h1>
<h2>The Schedule</h2>
<p>We are planning a welcome dinner for Friday night and the wedding and reception will be on Saturday. Other optional activities will be shared soon.</p>
<p>MORE DETAILS COMING SOON</p>

<h1>L'area</h1>
<h2>The Area</h2>
<p>Vicchio is an hour train ride from Florence. Flights are available directly into Florence and other airports have connecting trains nearby.</p>
<p>MORE DETAILS COMING SOON</p>

<h1>Trasporti</h1>
<h2>Transportation</h2>
<p>MORE DETAILS COMING SOON</p>
