<link href="https://fonts.googleapis.com/css?family=Assistant:200|Heebo:100|Josefin+Sans|Playfair+Display|Raleway|Vollkorn+SC" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/node_modules/jquery-parallax.js/parallax.js"></script>

<link href="style.css" rel="stylesheet">

<!-- <h1 class="one">La Grande Visione</h1>
<h1 class="two">La Grande Visione</h1>
<h1 class="one">La Grande Visione</h1>
<h1 class="four">La Grande Visione</h1> -->

<h1>La Grande Visione</h1>
<h2>The Grand Vision</h2>
<p class="one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia pulvinar orci, eu lacinia odio cursus eu. Morbi in lectus pellentesque, tincidunt sapien vel, iaculis sapien. Etiam laoreet sit amet massa a tincidunt. Quisque egestas metus eros, eu mattis magna malesuada id. Sed auctor diam sapien, quis pretium orci fermentum vel. Curabitur facilisis metus et porta vehicula.</p>
<p class="one">Pellentesque placerat elit vitae purus scelerisque maximus. Sed eget purus a leo hendrerit tincidunt ut eget tortor. Etiam gravida laoreet magna nec ullamcorper. Nullam vitae mi sit amet lacus blandit aliquet. Ut arcu nulla, pellentesque eu semper facilisis, auctor nec lacus. Duis consequat auctor nisl porta vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<h1> La Casa</h1>
<h2>The House</h2>
<!-- <p class="one">Links to the house and details like how we will have it stocked, everyone has room, etc.</p>
 -->
<p class="one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia pulvinar orci, eu lacinia odio cursus eu. Morbi in lectus pellentesque, tincidunt sapien vel, iaculis sapien. Etiam laoreet sit amet massa a tincidunt. Quisque egestas metus eros, eu mattis magna malesuada id. Sed auctor diam sapien, quis pretium orci fermentum vel. Curabitur facilisis metus et porta vehicula.</p>
<p class="one">Pellentesque placerat elit vitae purus scelerisque maximus. Sed eget purus a leo hendrerit tincidunt ut eget tortor. Etiam gravida laoreet magna nec ullamcorper. Nullam vitae mi sit amet lacus blandit aliquet. Ut arcu nulla, pellentesque eu semper facilisis, auctor nec lacus. Duis consequat auctor nisl porta vestibulum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<h1>Il Programma</h1>
<h2>The Schedule</h2>
<p class="one">Overview of the ideal timeline in our eyes.</p>

<h1>L'area</h1>
<h2>The Area</h2>
<p class="one">A little bit about the area. Suggestions for places before and after or even during one day.</p>

<h1>Trasporti</h1>
<h2>Transportation</h2>
<p class="one">Where to fly in to.</p>
<p class="one">How to get to the house.</p>
<p class="one">Rental car information.</p>
