body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    margin: auto;
    text-align: center;
    padding: 100px;
}

#menu {
    margin-top: 25px;
}

a.menu-item {
    color: white;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    padding: 20px 40px;
}

a.menu-item:hover {
    font-weight: 500;
}

#gallery-wrapper {
    display: block;
    width: 80%;
    margin: auto;
}

img {
    height: 250px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.page-content {
    border: 1px solid white;
    display: block;
    max-width: 600px;
    text-align: center;
    margin: 100px auto;
}

.page-content p {
    color: white;
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}
